@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

html{
  background-color: #FFFFE7;
}

.main{
  background-color: #FFFFE7;
  font-family: 'Spectral', serif;
}